.input-filter-control__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.input-filter-control__label {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.input-filter-control__label-text {
  margin-right: 8px;
}
