:root {
  /* Цвета antdesign (красная тема) */
  --antd-color-primary: #bb2649;
  --antd-color-info: #fad54d;
  --antd-color-primary-hover: #c74861;
  --antd-color-selection: #faebec;
  --antd-text-color-selection: #bb2649;
}
