.kamatech-button {
  display: inline-block;
  overflow: visible;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-focus: ignore;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  font-family: var(--yc-font-family);
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  cursor: pointer;
}

.kamatech-button:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.kamatech-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.kamatech-button-text {
  position: relative;
  pointer-events: none;
  display: inline-block;
  resize: none;
  white-space: nowrap;
}

/* SIZE */
.kamatech-button_size_n {
  height: 36px;
  font-size: 13px;
  line-height: 36px;
}

.kamatech-button_size_n .kamatech-button-text {
  margin: 0 20px;
}

/* THEME */
.kamatech-button_theme_action {
  position: relative;
  z-index: 0;
  color: #000;
  border: none;
  outline: none;
}

/* VIEW */
.kamatech-button_view_default {
  transition: transform 0.1s ease-out, color 0.15s linear;
  transform: scale(1);
}

.kamatech-button_view_default:active {
  transition: none;
  transform: scale(0.96);
}

.kamatech-button_view_default:before {
  border-radius: 4px;
  transition: background-color 0.15s linear, opacity 0.15s linear;
}

/* TONE */
.kamatech-button_view_default.kamatech-button_tone_default.kamatech-button_theme_action {
  color: var(--color-contrast-0-solid);
}

.kamatech-button_view_default.kamatech-button_tone_default.kamatech-button_theme_action:before {
  background-color: var(--antd-color-primary);
}

.kamatech-button_view_default.kamatech-button_tone_default.kamatech-button_theme_action:hover:before {
  background-color: var(--antd-color-primary-hover);
}
