.range-datepicker-control {
  display: flex;
  width: 100%;
}

.range-datepicker-control__label {
  display: flex;
  flex-direction: column;
  color: var(--clustrum-dashboard-widget-filter-label-color);
  font-weight: var(--clustrum-dashboard-widget-filter-label-font-weight);
  font-size: var(--clustrum-dashboard-widget-filter-label-font-size);
  font-family: var(--clustrum-dashboard-widget-filter-label-font-family);
  font-style: var(--clustrum-dashboard-widget-filter-label-font-style);
  line-height: var(--clustrum-dashboard-widget-filter-label-line-height);
}

.range-datepicker-control__label input {
  color:
    var(
      --clustrum-dashboard-widget-filter-control-colo
      --clustrum-dashboard-widget-filter-control-color
    ) !important;
  font-weight: var(--clustrum-dashboard-widget-filter-control-font-weight) !important;
  font-size: var(--clustrum-dashboard-widget-filter-control-font-size) !important;
  font-family: var(--clustrum-dashboard-widget-filter-control-font-family) !important;
  line-height: var(--clustrum-dashboard-widget-filter-control-line-height) !important;
}

.range-datepicker-control .ant-picker-clear {
  right: 29px;
  opacity: 1;
}

.range-datepicker-control__picker :global(.ant-picker-input:first-of-type::before) {
  margin-right: 8px;
  color: var(--antd-color-border);
  content: 'От';
}

.range-datepicker-control__picker :global(.ant-picker-input:first-of-type ~ .ant-picker-input::before) {
  margin-right: 8px;
  color: var(--antd-color-border);
  content: 'До';
}
