.header__breadcrumb {
  display: flex;
  flex-direction: column;
}

.header__breadcrumb__patch {
  font-size: 13px;
  margin: 0 0 8px 0;
}

.header__breadcrumb__title {
  display: flex;
  align-items: center;
}

.header__breadcrumb__title__name {
  font-size: 30px;
  margin: 0 8px 0 0;
}

.header__breadcrumb__title__name p {
  margin: 0;
}

.header__breadcrumb__title__actions button {
  margin: 4px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
