.kamatech-dropdown-popup {
  box-shadow: 0 1.5ex 2ex -1ex var(--yc-lego-color-dark-light-hover);
  color: var(--yc-lego-color-text-primary);
  background-color: var(--yc-lego-color-base);
  border: 1px solid var(--yc-lego-color-popup-border);
  border-radius: 4px;
  box-sizing: border-box;
}

.kamatech-dropdown-popup:before {
  box-shadow: 0 0 0 1px var(--yc-lego-color-medium-light-hover);
}
