.range-datepicker-control {
  width: 100%;
  height: 100%;
  display: flex;
}

.range-datepicker-control__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.range-datepicker-control__picker {
  margin-left: 8px;
}

.range-datepicker-control__picker--invalid,
.range-datepicker-control__picker--invalid:hover {
  border-color: #ff0400;
}

.range-datepicker-control__validation-msg {
  margin-top: 2px;
  font-size: 13px;
  line-height: 16px;
  color: #ff0400;
}

.range-datepicker-control .ant-picker-clear {
  right: 29px;
  opacity: 1;
}
