.input-filter-control {
  display: flex;
  width: 100%;
}

.input-filter-control__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
