.kamatech-table-view__createdBy > span,
.kamatech-table-view__name a,
.kamatech-table-view__name span,
.kamatech-table-view__updatedAt > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kamatech-table-view {
  --yc-navigation-item-height: 40px;
  --yc-navigation-bottom-padding: 20px;
  font-size: 13px;
  width: 100%;
  height: 100%;
}

.kamatech-table-view__row {
  display: flex;
  align-items: center;
  padding: 0 var(--yc-navigation-side-padding);
}

.kamatech-table-view__row:hover {
  cursor: pointer;
  background: var(--color-hover-area);
}

.kamatech-table-view__row_hidden .kamatech-table-view__name {
  color: var(--color-text-special);
}

.kamatech-table-view__row_inactive {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.kamatech-table-view__row_mode_minimal {
  padding: 0 20px;
}

.kamatech-table-view__row_mode_minimal .kamatech-table-view__createdBy {
  display: none;
}

.kamatech-table-view__row_mode_minimal .kamatech-table-view__info {
  padding-right: 0;
}

.kamatech-table-view__row_mode_minimal .kamatech-table-view__row-btns {
  display: none;
}

.kamatech-table-view__icon {
  margin-right: 12px;
  position: relative;
  top: 2px;
  flex: 0 0 auto;
  width: 22px;
}

.kamatech-table-view__info {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: var(--yc-navigation-item-height);
  position: relative;
  padding-right: 86px;
  overflow: hidden;
}

.kamatech-table-view__row-btns {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 86px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kamatech-table-view__row-btn {
  visibility: hidden;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.kamatech-table-view__row:hover .kamatech-table-view__row-btn {
  visibility: visible;
}

.kamatech-table-view__row-btn:hover {
  background: var(--color-hover-area);
}

.kamatech-table-view__btn-change-favorite {
  visibility: hidden;
  color: var(--color-text-hint);
}

.kamatech-table-view__btn-change-favorite_isFavorite {
  visibility: visible;
}

.kamatech-table-view__row:hover .kamatech-table-view__btn-change-favorite {
  color: #ffb54d;
}

.kamatech-table-view__row:hover
  .kamatech-table-view__btn-change-favorite:not(.kamatech-table-view__btn-change-favorite_isFavorite)
  .kamatech-table-view__icon-star-stroke {
  display: block;
}

.kamatech-table-view__icon-star-stroke,
.kamatech-table-view__row:hover
  .kamatech-table-view__btn-change-favorite:not(.kamatech-table-view__btn-change-favorite_isFavorite)
  .kamatech-table-view__icon-star-fill {
  display: none;
}

.kamatech-table-view__lock {
  margin: 0 10px;
  flex: 0 0 16px;
  color: var(--color-text-hint);
}

.kamatech-table-view__name {
  flex: 3 1 30%;
  display: flex;
  overflow: hidden;
  min-width: 100px;
  color: var(--color-text-primary);
}

.kamatech-table-view__createdBy {
  flex: 1 0 20%;
  padding: 0 10px;
}

.kamatech-table-view__createdBy,
.kamatech-table-view__updatedAt {
  color: var(--color-text-primary);
  display: flex;
  opacity: 0.5;
  min-width: 100px;
  overflow: hidden;
}

.kamatech-table-view__updatedAt {
  flex: 0 0 140px;
  justify-content: flex-end;
  align-items: center;
}

.kamatech-table-view__updatedAt_mode_minimal {
  flex: 0 0 25%;
  min-width: auto;
}

.kamatech-table-view__link,
.kamatech-table-view__link:active,
.kamatech-table-view__link:focus,
.kamatech-table-view__link:hover,
.kamatech-table-view__link:visited {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.kamatech-table-view__link_inactive,
.kamatech-table-view__link_inactive:active,
.kamatech-table-view__link_inactive:focus {
  pointer-events: none;
}

.kamatech-table-view__list {
  margin-bottom: var(--yc-navigation-bottom-padding);
}

.kamatech-table-view__name-line {
  display: flex;
  flex: 1 1 auto;
  line-height: 20px;
  overflow: hidden;
}

.kamatech-table-view__parent-folder {
  height: 20px;
  display: flex;
  align-items: center;
  flex: 0 0 25%;
  font-size: 13px;
  overflow: hidden;
}

.kamatech-table-view__folder-inline {
  flex: 0 0 16px;
  color: var(--color-text-hint);
  margin-right: 2px;
}

.kamatech-table-view__parent-folder-name {
  opacity: 0.5;
}

.kamatech-table-view__parent-folder-name:hover {
  opacity: 0.7;
}
