.kamatech-navigation-crumb-item {
  position: relative;
  cursor: pointer;
  margin-right: var(--kamatech-crumb-margin-between);
  text-decoration: none;
  color: var(--color-text-inactive);
}

.kamatech-navigation-crumb-item:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: var(--kamatech-crumb-tick-position);
  border-left: var(--kamatech-crumb-tick-weight) none var(--color-text-inactive);
  border-bottom: var(--kamatech-crumb-tick-weight) none var(--color-text-inactive);
  border-right: var(--kamatech-crumb-tick-weight) solid var(--color-text-inactive);
  border-top: var(--kamatech-crumb-tick-weight) solid var(--color-text-inactive);
  width: var(--kamatech-crumb-tick-size);
  height: var(--kamatech-crumb-tick-size);
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

.kamatech-navigation-crumb-item:hover {
  color: var(--color-text-primary);
}

.kamatech-navigation-crumb-item_last {
  cursor: default;
  font-weight: 500;
  color: var(--color-text-primary);
}

.kamatech-navigation-crumb-item_last:after {
  display: none;
  content: '';
}

.kamatech-navigation-crumb-node {
  padding: var(--kamatech-crumb-padding);
}
