.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 24px;
  padding-top: var(--clustrum-dashboard-header-padding-top);
  padding-right: var(--clustrum-dashboard-header-padding-right);
  padding-bottom: var(--clustrum-dashboard-header-padding-bottom);
  padding-left: var(--clustrum-dashboard-header-padding-left);
  background-color: var(--clustrum-background-panel-color);
}

.header-wrapper__breadcrumb {
  display: flex;
  margin: 0;
}

.header-wrapper__breadcrumb-patch {
  font-size: 13px;
}

.header-wrapper__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper__left-side {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.header-wrapper__left-side-title {
  margin: 0;
  overflow: hidden;
  color: var(--clustrum-dashboard-header-font-color);
  font-weight: var(--clustrum-dashboard-header-font-weight);
  font-size: var(--clustrum-dashboard-header-font-size);
  font-family: var(--clustrum-dashboard-header-font-family);
  font-style: var(--clustrum-dashboard-header-font-style);
  line-height: var(--clustrum-dashboard-header-font-lineHeight);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-wrapper__left-side-content {
  display: flex;
}

.header-wrapper__right-side-content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ant-tooltip .ant-tooltip-arrow {
  --antd-arrow-background-color: #fff;
}

.ant-tooltip-content > .ant-tooltip-inner {
  color: #000;
  background-color: #fff;
}
