.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 24px;
  background-color: #f5f5f5;
}

.header-wrapper__breadcrumb {
  display: flex;
  margin: 0;
}

.header-wrapper__breadcrumb-patch {
  font-size: 13px;
}

.header-wrapper__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper__left-side {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0;
}

.header-wrapper__left-side-title {
  margin: 0;
  overflow: hidden;
  font-size: 30px;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-wrapper__right-side-content {
  display: flex;
  gap: 8px;
  align-items: center;
}
