.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
}

.header__action-buttons {
  display: flex;
  align-items: center;
}

.header__action-buttons button:not(.ant-btn-compact-last-item) {
  margin-left: 8px;
}

.header__breadcrumb {
  display: flex;
  flex-direction: column;
}

.header__breadcrumb-patch {
  font-size: 13px;
  margin: 0 0 8px 0;
}

.header__title {
  display: flex;
  align-items: center;
  padding: 0;
}

.header__title-name {
  font-size: 30px;
  line-height: 30px;
  margin: 0 8px 0 0;
}

.header__title-actions button {
  margin: 4px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
