.filter-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  background-color: var(--clustrum-default-background-filter-color);
  border: 1px solid var(--antd-color-split);
  border-radius: 6px;
}

.filter-controls-container__error {
  color: var(--antd-text-color-selection);
}
