.datepicker-control {
  display: flex;
  width: 100%;
}

.datepicker-control__label {
  display: flex;
  flex-direction: column;
  color: var(--clustrum-dashboard-widget-filter-label-color);
  font-weight: var(--clustrum-dashboard-widget-filter-label-font-weight);
  font-size: var(--clustrum-dashboard-widget-filter-label-font-size);
  font-family: var(--clustrum-dashboard-widget-filter-label-font-family);
  font-style: var(--clustrum-dashboard-widget-filter-label-font-style);
  line-height: var(--clustrum-dashboard-widget-filter-label-line-height);
}

.datepicker-control__label input {
  color: var(--clustrum-dashboard-widget-filter-control-color) !important;
  font-weight: var(--clustrum-dashboard-widget-filter-control-font-weight) !important;
  font-size: var(--clustrum-dashboard-widget-filter-control-font-size) !important;
  font-family: var(--clustrum-dashboard-widget-filter-control-font-family) !important;
  font-style: var(--clustrum-dashboard-widget-filter-control-font-style) !important;
  line-height: var(--clustrum-dashboard-widget-filter-control-line-height) !important;
}

.datepicker-control .ant-picker-clear {
  right: 18px;
  opacity: 1;
}
