.table-widget__link {
  display: block;
  height: 100%;
}

.table-widget__diff {
  font-size: 8pt;
}

.table-widget__diff--pos {
  color: green;
}

.table-widget__diff--neg {
  color: red;
}

.table-widget__content {
  background-clip: padding-box;
}

.table-widget__content.is_null {
  font-style: italic;
  opacity: 0.5;
}

.table-widget__content--integer,
.table-widget__content--float,
.table-widget__content--double,
.table-widget__content--long,
.table-widget__content--number {
  text-align: var(--clustrum-table-widget-cell-numbertype-align);
}

.table-widget__content--date,
.table-widget__content--datetime {
  text-align: var(--clustrum-table-widget-cell-datetype-align);
}

.table-widget__content--string,
.table-widget__content--text {
  max-height: 200px;
  overflow-y: scroll;
  color: #020202;
  font-size: var(--table-body-font-size);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: var(--clustrum-table-widget-cell-texttype-align);
}

.ant-table-wrapper {
  height: 100%;
}

.ant-table-wrapper .ant-spin-nested-loading {
  height: 100%;
}

.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table {
  flex: auto;
  overflow: hidden;
}

.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - 16px);
}

.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container .ant-table-content {
  flex: auto;
  margin-bottom: 20px;
  overflow: scroll;
}

.ant-table-pagination {
  padding-right: 8px;
  padding-left: 8px;
}

.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table-pagination {
  flex: none;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 8px 0;
}

.ant-table-cell {
  cursor: pointer;
}

.table-widget .ant-table-thead > tr:nth-of-type(2) > .ant-table-cell {
  background-color: #fff;
  border-right: 1px solid transparent;
}

.table-widget .ant-table-thead > tr:nth-of-type(2):hover > .ant-table-cell {
  background-color: #fafafa;
}

.table-widget .ant-table-thead > tr:nth-of-type(2) > .ant-table-cell::before {
  display: none;
}

.ant-pagination .ant-pagination-total-text {
  margin-right: auto;
  margin-left: 0;
}

.table-widget-column .ant-table-column-title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-widget .ant-table-header {
  overflow: visible !important;
}

.table-widget-pagination a {
  font-size: var(--clustrum-dashboard-pagination-font-size);
  font-family: var(--clustrum-dashboard-pagination-font-family);
  font-style: var(--clustrum-dashboard-pagination-font-style);
  line-height: var(--clustrum-dashboard-pagination-line-height);
}

.table-widget .ant-pagination-item:not(.ant-pagination-item-active) a {
  color: var(--clustrum-dashboard-pagination-font-color);
  font-weight: var(--clustrum-dashboard-pagination-font-weight);
}

.ant-tooltip-content > .ant-tooltip-inner {
  color: #000;
  background-color: #fff;
}
