.navigation-entries {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.navigation-entries__table {
  flex-grow: 1;
  padding: 24px;
  overflow: hidden;
  background-color: var(--color-base);
}

.navigation-entries__table :global(.ant-table-header) {
  /* чтобы на маленькой высоте экрана не сужался header у таблицы */
  overflow: visible !important;
}

.navigation-entries__table :global(.ant-table-body) {
  /* скрывать scroll, когда не нужен, если у таблицы выставлена опция scroll */
  overflow-y: auto !important;
}
