.pagination__go-to {
    margin-left: auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.pagination__go-to_disabled {
    opacity: 0.5;
}

.pagination__go-to-input {
    width: 30px;
    height: 20px;
    margin-left: 6px;
    border: 1px solid #A9A9A9;
    border-right: none;
    outline: none;
}

.pagination__go-to-btn {
    height: 20px;
    width: 24px;
    background-image: url("data:image/svg+xml;utf8,<svg width='11' height='11' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill='%23000000' fill-rule='evenodd' clip-rule='evenodd' d='M6.29289 1.70735C5.90237 1.31683 5.90237 0.683662 6.29289 0.293137C6.68342 -0.097387 7.31658 -0.097387 7.70711 0.293137L13.6525 6.2385C13.8653 6.42189 14 6.69338 14 6.99634L14 6.99829C14.0005 7.25487 13.9029 7.51159 13.7071 7.70735L7.70711 13.7074C7.31658 14.0979 6.68342 14.0979 6.29289 13.7074C5.90237 13.3168 5.90237 12.6837 6.29289 12.2931L10.5897 7.99634H1C0.447715 7.99634 0 7.54862 0 6.99634C0 6.44405 0.447715 5.99634 1 5.99634H10.5819L6.29289 1.70735Z' /></svg>");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #A9A9A9;
    cursor: pointer;
}

.pagination__go-to-btn:disabled {
    cursor: default;
}
