.page-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.page-container__content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--antd-background-color-base);
}
