.select-filter-control {
  display: flex;
  width: 100%;
  text-align: var(--clustrum-filter-text-align);
}

.select-filter-control__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--clustrum-dashboard-widget-filter-label-color);
  font-weight: var(--clustrum-dashboard-widget-filter-label-font-weight);
  font-size: var(--clustrum-dashboard-widget-filter-label-font-size);
  font-family: var(--clustrum-dashboard-widget-filter-label-font-family);
  line-height: var(--clustrum-dashboard-widget-filter-label-line-height);
}

.select-filter-control__select :global(.ant-select-selector) {
  width: 100% !important;
  font-weight: var(--clustrum-filter-control-font-weight) !important;
  font-size: var(--clustrum-filter-control-font-size) !important;
  font-family: var(--clustrum-filter-control-font-family) !important;
  line-height: var(--clustrum-filter-control-line-height) !important;
  border:
    var(--clustrum-filter-control-border-size)
    var(--clustrum-filter-control-border-style)
    var(--clustrum-filter-control-border-color) !important;
  border-radius: var(--clustrum-filter-control-border-radius) !important;
}

.select-filter-control__select :global(.ant-select-selection-item) {
  color: var(--clustrum-default-control-filter-color) !important;
}
