.select-filter-control {
  display: flex;
  width: 100%;
  text-align: var(--clustrum-filter-text-align);
}

.select-filter-control__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--clustrum-default-label-filter-color);
  font-weight: var(--clustrum-filter-label-font-weight);
  font-size: var(--clustrum-filter-label-font-size);
  font-family: var(--clustrum-filter-label-font-family);
  line-height: var(--clustrum-filter-label-line-height);
}

.select-filter-control__select {
  width: 100%;
  color: var(--clustrum-default-label-filter-color);
  font-weight: var(--clustrum-filter-select-font-weight);
  font-size: var(--clustrum-filter-select-font-size);
  font-family: var(--clustrum-filter-select-font-family);
  line-height: var(--clustrum-filter-select-line-height);
  border:
    var(--clustrum-filter-select-border-size)
    var(--clustrum-filter-select-border-style) var(--clustrum-filter-select-border-color);
  border-radius: var(--clustrum-filter-select-border-radius);
}
