.subcontainer {
  min-height: 90px;
  padding-top: 16px;
  border-bottom: 1px solid var(--antd-color-light-grey);
}

.subcontainer__subheader {
  margin: 0 20px -35px;
}

.subcontainer__subheader span {
  font-size: 14px;
  vertical-align: middle;
}

.subcontainer__placeholder-icon {
  display: inline-block;
  margin-right: 8px;
}

.subcontainer__placeholder-icon svg {
  width: 16px;
  height: 16px;
}

.subcontainer :global(.subitem) {
  padding: 48px 19px 12px;
  font-weight: 700;
}

.subcontainer :global(.dnd-container) {
  min-height: 90px;
  padding: 48px 19px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subcontainer :global(.item) {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 9px 24px 9px 0;
  line-height: 22px;
  border-radius: 8px;
  cursor: pointer;
}

.subcontainer :global(.sort-item) {
  width: 172px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subcontainer :global(.dimension-item) {
  background-color: var(--antd-color-dimension-item-base);
}

.subcontainer :global(.measure-item),
.subcontainer :global(.measure-item .item-sort) {
  background-color: var(--antd-color-measure-item-base);
}

.subcontainer :global(.measure-item.local-item) {
  border-left: 5px solid var(--antd-color-primary);
}

.subcontainer :global(.measure-item.drag-hovered) {
  padding: 4px 11px 3px;
}

.subcontainer :global(.measure-item .item-icon) {
  padding: 0 8px;
  color: var(--antd-color-primary);
}

.subcontainer :global(.dimension-item .item-sort) {
  background-color: var(--antd-color-dimension-item-base);
}

.subcontainer :global(.dimension-item.drag-hovered) {
  padding: 4px 11px 3px;
}

.subcontainer :global(.dimension-item.local-item) {
  border-left: 5px solid var(--antd-color-dimension-item-base);
}

.subcontainer :global(.dimension-item.is-dragging),
.subcontainer :global(.dimension-item:active),
.subcontainer :global(.dimension-item:focus) {
  background-color: var(--antd-color-dimension-item-base);
  border: 1px solid var(--antd-color-dimension-item-base);
}

.subcontainer :global(.item .item-title) {
  flex: auto;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subcontainer :global(.item .item-holder) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  visibility: hidden;
}

.subcontainer :global(.item.pseudo-item) {
  color: var(--antd-color-text-disabled);
  font-style: italic;
}

.subcontainer :global(.item.conflict) {
  color: var(--antd-color-text-disabled);
  background: var(--antd-color-dimension-item-hover);
}

.subcontainer :global(.item.local-item) {
  padding-left: 7px;
}

.subcontainer :global(.item .item-sort) {
  display: flex;
  height: 40px;
  margin-right: -56px;
  padding: 4px 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.subcontainer :global(.item.is-dragging),
.subcontainer :global(.item:active),
.subcontainer :global(.item:focus) {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.subcontainer :global(.item .item-right-icons-container) {
  display: flex;
  align-items: center;
  width: 12px;
  height: 100%;
}

.subcontainer :global(.sort-item .item-right-icons-container) {
  display: flex;
  align-items: center;
  width: 12px;
  height: 100%;
  margin-right: 10px;
}

.subcontainer :global(.measure-item.is-dragging),
.subcontainer :global(.measure-item:active),
.subcontainer :global(.measure-item:focus) {
  background-color: var(--antd-color-measure-item-base);
  border: 1px solid var(--antd-color-measure-item-base);
}

.subcontainer :global(.dimension-item:hover) {
  background-color: var(--antd-color-dimension-item-hover);
}

.subcontainer :global(.measure-item:hover),
.subcontainer :global(.measure-item:hover .item-sort) {
  background-color: var(--antd-color-measure-item-hover);
}

.subcontainer :global(.dimension-item:hover .item-sort) {
  background-color: var(--antd-color-dimension-item-hover);
}

.subcontainer :global(.dimension-item.drag-hovered.local-item) {
  padding-left: 7px;
}

.subcontainer :global(.measure-item.drag-hovered.local-item) {
  padding-left: 7px;
}

.subcontainer :global(.measure-item.drag-hovered.drag-hovered-remove) {
  background-color: rgba(255, 4, 0, 0.02);
  border: 1px solid rgba(255, 4, 0, 0.2);
}

.subcontainer :global(.dimension-item.drag-hovered.drag-hovered-remove) {
  background-color: rgba(255, 4, 0, 0.02);
  border: 1px solid rgba(255, 4, 0, 0.2);
}

.subcontainer :global(.dimension-item.drag-hovered.drag-hovered-swap) {
  background-color: var(--antd-color-dimension-item-base);
  border: 1px solid var(--antd-color-dimension-item-hover);
}

.subcontainer :global(.measure-item.drag-hovered.drag-hovered-swap) {
  background-color: var(--antd-color-measure-item-base);
  border: 1px solid var(--antd-color-measure-item-hover);
}

.subcontainer :global(.dimension-item.is-dragging.local-item),
.subcontainer :global(.dimension-item:active.local-item),
.subcontainer :global(.dimension-item:focus.local-item) {
  border-left: 5px solid var(--antd-color-dimension-item-base);
}

.subcontainer :global(.dimension-item.is-dragging.conflict),
.subcontainer :global(.dimension-item:active.conflict),
.subcontainer :global(.dimension-item:focus.conflict) {
  background: var(--antd-color-dimension-item-hover);
  border: none;
}

.subcontainer :global(.measure-item.is-dragging.local-item),
.subcontainer :global(.measure-item:active.local-item),
.subcontainer :global(.measure-item:focus.local-item) {
  border-left: 5px solid var(--antd-color-primary);
}

.subcontainer :global(.measure-item.is-dragging.conflict),
.subcontainer :global(.measure-item.is-dragging.disabled),
.subcontainer :global(.measure-item:active.conflict),
.subcontainer :global(.measure-item:active.disabled),
.subcontainer :global(.measure-item:focus.conflict),
.subcontainer :global(.measure-item:focus.disabled) {
  background: var(--antd-color-dimension-item-hover);
  border: none;
}

.subcontainer :global(.item:hover .item-holder) {
  visibility: visible;
}

.subcontainer :global(.item.conflict .item-icon) {
  color: var(--antd-color-text-disabled);
}

.subcontainer :global(.item.conflict .item-sort) {
  display: none;
}

.subcontainer :global(.item .item-right-icon.cross-icon),
.subcontainer :global(.item .item-right-icon.error-icon),
.subcontainer :global(.item .item-right-icon.swap-icon) {
  display: none;
  padding: 14px 0;
}

.subcontainer :global(.item.is-dragging.local-item),
.subcontainer :global(.item:active.local-item),
.subcontainer :global(.item:focus.local-item) {
  padding-left: 7px;
}

.subcontainer :global(.item.is-dragging.conflict),
.subcontainer :global(.item:active.conflict),
.subcontainer :global(.item:focus.conflict) {
  cursor: pointer;
}

.subcontainer :global(.item .item-right-icon.cross-icon svg),
.subcontainer :global(.item .item-right-icon.error-icon svg),
.subcontainer :global(.item .item-right-icon.swap-icon svg) {
  width: 12px;
  height: 12px;
}

.subcontainer :global(.item.conflict .item-right-icon.error-icon) {
  display: inline-block;
  margin-right: -8px;
}

.subcontainer :global(.measure-item.drag-hovered.drag-hovered-remove.local-item) {
  border-left: 5px solid rgba(255, 4, 0, 0.2);
}

.subcontainer :global(.dimension-item.drag-hovered.drag-hovered-remove.local-item) {
  border-left: 5px solid rgba(255, 4, 0, 0.2);
}

.subcontainer :global(.dimension-item.drag-hovered.drag-hovered-swap.local-item) {
  border-left: 5px solid var(--antd-color-dimension-item-base);
}

.subcontainer :global(.measure-item.drag-hovered.drag-hovered-swap.local-item) {
  border-left: 5px solid var(--antd-color-measure-item-hover);
}

.subcontainer :global(.sort-item.drag-hovered.drag-hovered-remove .item-sort) {
  margin-right: -62px;
}

.subcontainer :global(.item:hover .sort-item .item-sort) {
  margin-right: -62px;
}

.subcontainer :global(.item:hover .item-right-icon.cross-icon) {
  display: block;
}

.subcontainer :global(.item.is-dragging .item-right-icon.cross-icon),
.subcontainer :global(.item:active .item-right-icon.cross-icon),
.subcontainer :global(.item:focus .item-right-icon.cross-icon) {
  opacity: 0;
}

.subcontainer :global(.item.conflict .item-right-icon.error-icon svg) {
  width: 16px;
  height: 16px;
}

.subcontainer :global(.dimension-item.drag-hovered.drag-hovered-remove .item-right-icon.cross-icon) {
  display: block;
}

.subcontainer :global(.dimension-item.drag-hovered.drag-hovered-swap .item-right-icon.swap-icon) {
  display: block;
}

.subcontainer :global(.measure-item.drag-hovered.drag-hovered-remove .item-right-icon.cross-icon) {
  display: block;
}

.subcontainer :global(.measure-item.drag-hovered.drag-hovered-swap .item-right-icon.swap-icon) {
  display: block;
}

.subcontainer :global(.item.conflict:hover .item-right-icon.error-icon) {
  display: none;
}
