.item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 4px 0 12px;
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.item:hover {
  background-color: var(--antd-color-split);
}

.editing-item {
  padding: 4px 0;
}

.item__draggable-icon {
  margin-right: 12px;
  font-size: 16px;
  visibility: hidden;
  cursor: pointer;
}

.item:hover .item__draggable-icon {
  visibility: visible;
}

.item__title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item__controls {
  display: none;
  margin-left: 4px;
}

.item:hover .item__controls {
  display: flex;
}

.item__button {
  padding: 0 16px;
  font-size: 16px;
}
