<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,user-scalable=yes,width=device-width">
    <meta name="csrf-token" content="9f9a3cb1257844ccd0aff0a057fdedbdc66dc844:1563181848" />

    <script>
        window.DL = {
            env: 'development',
            appEnv: 'development',
            installationType: 'external',
            user: {
                lang: 'ru',
                login: null,
                uid: '38832482',
                avatarHost: '',
                passportHost: '',
                name: 'evg-shcherbakov',
                avatarId: '0/0-0',
            },
            currentCloudFolderId: 'b1gv7h11svmfudripdnc',
            clouds: [],
            title: JSON.parse('<%= dotenv %>').SYSTEM_TITLE,
            endpoints: {},
            features: {
                logoText: JSON.parse('<%= dotenv %>').SYSTEM_TITLE,
                toggleTheme: true,
                dataset: {
                    appMetricaEnabled: false,
                },
            },
            chartkit: {
                chartsEndpoint: '',
                lang: 'ru',
                config: false,
            },
            menu: {
                currentGroup: 'clusterdata',
                common: [],
                groups: [
                    {
                        name: 'clusterdata',
                        title: JSON.parse('<%= dotenv %>').SYSTEM_TITLE,
                        items: [],
                    },
                ],
            },
            metrikaOAuthClientId: '4f802221a95340dd9417c04bc30606b5',
        };

        document.title = window.DL.title

    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
