:root {
  /* Clustrum (красная тема) */
  --clustrum-default-color-primary: #bb2649;
  --clustrum-default-font-family: 'Inter', 'Open Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  --clustrum-default-background-content-color: #fff;
  --clustrum-default-background-panel-color: #fff;
  --clustrum-default-background-filter-color: #fff;
  --clustrum-default-label-filter-color: #000;
  --clustrum-default-widget-background-color: #fff;
  --clustrum-default-widget-shadow: 0px 2px 4px rgba(76, 77, 75, 0.1);
  --clustrum-default-border-filter-color: gba(0, 0, 0, 0.06);
  --clustrum-filter-label-shading-color: #fff;
  /* Цвета antdesign (красная тема) */
  --antd-color-primary: #bb2649;
  --antd-color-info: #fad54d;
  --antd-color-primary-hover: #c74861;
  --antd-color-selection: #faebec;
  --antd-text-color-selection: var(--antd-color-primary);
  --antd-color-light-grey: rgba(0, 0, 0, 0.06);
  --antd-color-title: #262626;
  --antd-color-split: rgba(0, 0, 0, 0.06);
  --antd-color-border: rgba(0, 0, 0, 0.15);
  --antd-background-color-base: #fff;
  --antd-color-text-disabled: rgba(0, 0, 0, 0.25);
  --antd-color-dimension-item-base: #f5f5f5;
  --antd-color-dimension-item-hover: rgba(0, 0, 0, 0.04);
  --antd-color-measure-item-base: #ebf4fe;
  --antd-color-measure-item-hover: #dcedfd;

  --clustrum-filter-label-font-weight: 400;
  --clustrum-filter-label-font-size: 14px;
  --clustrum-filter-label-line-height: 22px;
  --clustrum-filter-label-font-family: 'Inter', 'Open Sans', 'Helvetica Neue', 'Arial',
    'Helvetica';
  --clustrum-filter-control-font-weight: 400;
  --clustrum-filter-control-font-size: 14px;
  --clustrum-filter-control-line-height: 22px;
  --clustrum-filter-control-font-family: 'Inter', 'Open Sans', 'Helvetica Neue', 'Arial',
    'Helvetica';
  --clustrum-filter-control-border-size: 1px;
  --clustrum-filter-control-border-style: solid;
  /* --clustrum-filter-control-border-color: rgba(0, 0, 0, 0.15); */
  --clustrum-filter-control-border-color: green;
  --clustrum-filter-control-border-radius: 4px;
  --clustrum-filter-text-align: left;
}
