:root {
  /* Clustrum (красная тема) */
  --clustrum-default-color-primary: #bb2649;
  --clustrum-default-font-family: 'Inter', 'Open Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  --clustrum-dashboard-header-font-family: 'Inter', 'Open Sans', 'Helvetica Neue', Arial,
    Helvetica, sans-serif;
  --clustrum-dashboard-header-font-size: 30px;
  --clustrum-dashboard-header-font-weight: 400;
  --clustrum-dashboard-header-font-style: normal;
  --clustrum-dashboard-header-font-lineHeight: 30px;
  --clustrum-dashboard-header-font-color: #111729;
  --clustrum-default-background-content-color: #fff;
  --clustrum-default-background-panel-color: #fff;
  --clustrum-default-background-filter-color: #fff;
  --clustrum-default-label-filter-color: #000;
  --clustrum-default-widget-shadow: 0px 2px 4px rgba(76, 77, 75, 0.1);
  --clustrum-default-border-filter-color: gba(0, 0, 0, 0.06);
  --clustrum-filter-label-shading-color: #fff;

  --clustrum-dashboard-header-padding-left: 24px;
  --clustrum-dashboard-header-padding-top: 24px;
  --clustrum-dashboard-header-padding-right: 24px;
  --clustrum-dashboard-header-padding-bottom: 24px;
  --clustrum-dashboard-widget-pivot-table-th-font-family: 'Inter', 'Open Sans',
    'Helvetica Neue', Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-pivot-table-th-font-size: 13px;
  --clustrum-dashboard-widget-pivot-table-th-font-weight: 600;
  --clustrum-dashboard-widget-pivot-table-th-font-style: normal;
  --clustrum-dashboard-widget-pivot-table-th-font-line-height: 1.2;
  --clustrum-dashboard-widget-pivot-table-th-font-color: #000;

  --clustrum-dashboard-widget-pivot-table-td-numbertype-align: left;
  --clustrum-dashboard-widget-pivot-table-td-texttype-align: right;
  --clustrum-dashboard-widget-pivot-table-td-datetype-align: center;
  --clustrum-dashboard-widget-pivot-table-td-font-family: 'Inter', 'Open Sans',
    'Helvetica Neue', Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-pivot-table-td-font-size: 13px;
  --clustrum-dashboard-widget-pivot-table-td-font-weight: 600;
  --clustrum-dashboard-widget-pivot-table-td-font-style: normal;
  --clustrum-dashboard-widget-pivot-table-td-font-line-height: 1.2;
  --clustrum-dashboard-widget-pivot-table-td-font-color: #000;

  --clustrum-dashboard-widget-pivotTable-td-font-family: 'Inter', 'Open Sans',
    'Helvetica Neue', Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-pivot-table-total-font-size: 13px;
  --clustrum-dashboard-widget-pivot-table-total-font-weight: 600;
  --clustrum-dashboard-widget-pivot-table-total-font-style: normal;
  --clustrum-dashboard-widget-pivot-table-total-font-line-height: 1.2;
  --clustrum-dashboard-widget-pivot-table-total-font-color: #000;
  --clustrum-dashboard-widget-pivot-table-total-background-color: transparent;
  --clustrum-dashboard-widget-pivot-table-total-hover-font-color: #000;
  --clustrum-dashboard-widget-pivot-table-total-hover-background-color: #fafafa;

  --clustrum-dashboard-widget-pivot-table-layout-table-border-color: transparent;

  /* Цвета antdesign (красная тема) */
  --antd-color-primary: #bb2649;
  --antd-color-info: #fad54d;
  --antd-color-primary-hover: #c74861;
  --antd-color-selection: #faebec;
  --antd-text-color-selection: var(--antd-color-primary);
  --antd-color-light-grey: rgba(0, 0, 0, 0.06);
  --antd-color-title: #262626;
  --antd-color-split: rgba(0, 0, 0, 0.06);
  --antd-color-border: rgba(0, 0, 0, 0.15);
  --antd-background-color-base: #fff;
  --antd-color-text-disabled: rgba(0, 0, 0, 0.25);
  --antd-color-dimension-item-base: #f5f5f5;
  --antd-color-dimension-item-hover: rgba(0, 0, 0, 0.04);
  --antd-color-measure-item-base: #ebf4fe;
  --antd-color-measure-item-hover: #dcedfd;
  --clustrum-dashboard-widget-table-pagination-font-family: 'Inter', 'Open Sans',
    'Helvetica Neue', Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-table-pagination-font-weight: 400;
  --clustrum-dashboard-widget-table-pagination-font-size: '14px';
  --clustrum-dashboard-widget-table-pagination-line-height: '22px';
  --clustrum-dashboard-widget-table-pagination-font-style: 'normal';
  --clustrum-dashboard-widget-table-pagination-font-color: 'inherit';
  --clustrum-dashboard-widget-table-total-font-family: 'Inter', 'Open Sans',
    'Helvetica Neue', Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-table-total-font-color: rgba(0, 0, 0, 0.88);
  --clustrum-dashboard-widget-table-total-font-weight: 600;
  --clustrum-dashboard-widget-table-total-font-size: 14px;
  --clustrum-dashboard-widget-table-total-font-style: normal;
  --clustrum-dashboard-widget-table-total-background-color: transparent;
  --clustrum-dashboard-widget-table-total-font-line-height: 1.5;
  --clustrum-dashboard-widget-table-total-hover-font-color: #000;
  --clustrum-dashboard-widget-table-total-hover-background-color: #fafafa;
  --clustrum-dashboard-widget-table-td-numbertype-align: left;
  --clustrum-dashboard-widget-table-td-texttype-align: right;
  --clustrum-dashboard-widget-table-td-datetype-align: center;
  --clustrum-dashboard-widget-table-th-font-family: 'Inter', 'Open Sans', 'Helvetica Neue',
    Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-table-th-font-size: 14px;
  --clustrum-dashboard-widget-table-th-font-color: rgba(0, 0, 0, 0.88);
  --clustrum-dashboard-widget-table-th-font-style: normal;
  --clustrum-dashboard-widget-table-th-font-weight: 600;
  --clustrum-dashboard-widget-table-th-font-line-height: 22px;
  --clustrum-dashboard-widget-table-td-font-family: 'Inter', 'Open Sans', 'Helvetica Neue',
    Arial, Helvetica, sans-serif;
  --clustrum-dashboard-widget-table-td-font-size: 14px;
  --clustrum-dashboard-widget-table-td-font-color: rgba(0, 0, 0, 0.88);
  --clustrum-dashboard-widget-table-td-font-style: normal;
  --clustrum-dashboard-widget-table-td-font-weight: 400;
  --clustrum-dashboard-widget-table-td-font-line-height: 22px;
  --clustrum-dashboard-tab-active-font-family: 'Inter', 'Open Sans', 'Helvetica Neue',
    Arial, Helvetica, sans-serif;
  --clustrum-dashboard-tab-active-font-size: 14px;
  --clustrum-dashboard-tab-active-font-style: normal;
  --clustrum-dashboard-tab-active-font-weight: 600;
  --clustrum-dashboard-tab-active-font-line-height: 22px;
  --clustrum-dashboard-tab-active-font-color: var(--antd-color-primary);
  --clustrum-dashboard-tab-default-font-family: 'Inter', 'Open Sans', 'Helvetica Neue',
    Arial, Helvetica, sans-serif;
  --clustrum-dashboard-tab-default-font-size: 14;
  --clustrum-dashboard-tab-default-font-style: normal;
  --clustrum-dashboard-tab-default-font-weight: 600;
  --clustrum-dashboard-tab-default-font-line-height: 22px;
  --clustrum-dashboard-tab-default-font-color: #000000e0;
}
