.item {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 40px;
  margin: 4px 0;
  padding: 9px 18px 9px 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  background-color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
}

.holder {
  justify-content: center;
  height: 24px;
  padding-left: 4px;
  visibility: hidden;
}

.item:hover .holder {
  visibility: visible;
}

.more_icon {
  display: none;
}

.title {
  flex: auto;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ignore-drag {
  background-color: var(--color-contrast-4) !important;
}

.item.is-dragging.ignore-drag,
.item:focus.ignore-drag,
.item:active:hover.ignore-drag {
  cursor: pointer;
}

.measure_icon {
  color: var(--antd-color-primary);
}
