.WidgetVisibilityDropdown__hint {
  position: absolute;
  top: 35px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 22px;
  font-size: 12px;
  text-align: center;
  background: white;
  border: 1px solid;
}
