.label-with-hover {
  position: relative;
  height: 22px;
  overflow: hidden;
  font-weight: var(--clustrum-dashboard-widget-filter-label-font-weight);
  font-family: var(--clustrum-dashboard-widget-filter-label-font-family);
  line-height: var(--clustrum-dashboard-widget-filter-label-line-height);
  text-align: var(--clustrum-filter-text-align);
}

.label-with-hover::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 30%;
  height: 100%;
  background-color: var(--clustrum-dashboard-widget-filter-label-shading-color);
  opacity: 0.5;
  content: '';
}
