.dashkit-plugin-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  border: 1px solid var(--antd-color-split);
  border-radius: 6px;
}

.dashkit-plugin-control__item {
  flex: 1;
  overflow: hidden;
}
