.filter-controls-factory {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  background-color: var(--clustrum-dashboard-widget-filter-wrapper-background-color);
  border: 1px solid var(--clustrum-dashboard-widget-filter-wrapper-border-color);
  border-radius: 6px;
}

.filter-controls-factory__control {
  flex: 1;
  overflow: hidden;
}
