.filter-controls-factory {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  border: 1px solid var(--antd-color-split);
  border-radius: 6px;
}

.filter-controls-factory__control {
  flex: 1;
  overflow: hidden;
}

.filter-controls-factory__label-сontainer {
  position: relative;
  height: 22px;
  overflow: hidden;
}

.filter-controls-factory__label-сontainer::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 30%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  content: '';
}
