.kamatech-menu {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.kamatech-menu:after,
.kamatech-menu:before {
  display: block;
  content: '';
}

.kamatech-menu-item {
  white-space: nowrap;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  outline: none;
  background-repeat: no-repeat;
}

.kamatech-menu-item:hover {
  color: var(--color-text-primary);
  background: var(--color-hover-area);
}

.kamatech-menu.kamatech-menu_size_m {
  font-size: 15px;
  line-height: 28px;
}

.kamatech-menu.kamatech-menu_size_m::after,
.kamatech-menu.kamatech-menu_size_m::before {
  height: 5px;
}

.kamatech-menu.kamatech-menu_size_m .kamatech-menu-item {
  padding: 0 15px;
}

.kamatech-menu.kamatech-menu_size_n {
  font-size: 13px;
  line-height: 36px;
}

.kamatech-menu.kamatech-menu_size_n::after,
.kamatech-menu.kamatech-menu_size_n::before {
  height: 8px;
}

.kamatech-menu.kamatech-menu_size_n .kamatech-menu-item {
  height: 36px;
  padding: 0 13px 0 10px;
}

.kamatech-menu.kamatech-menu_size_s {
  font-size: 13px;
  line-height: 24px;
}

.kamatech-menu.kamatech-menu_size_s::after,
.kamatech-menu.kamatech-menu_size_s::before {
  height: 4px;
}

.kamatech-menu.kamatech-menu_size_s .kamatech-menu-item {
  padding: 0 13px;
}

.kamatech-menu.kamatech-menu_size_xs {
  font-size: 13px;
  line-height: 24px;
}

.kamatech-menu.kamatech-menu_size_xs::after,
.kamatech-menu.kamatech-menu_size_xs::before {
  height: 3px;
}

.kamatech-menu.kamatech-menu_size_xs .kamatech-menu-item {
  padding: 0 10px;
}
